@layer base {
  :root {
    --color-primary-50: theme(colors.green-50);
    --color-primary-100: theme(colors.green-100);
    --color-primary-200: theme(colors.green-200);
    --color-primary-300: theme(colors.green-300);
    --color-primary-400: theme(colors.green-400);
    --color-primary-500: theme(colors.green-500);
    --color-primary-600: theme(colors.green-600);
    --color-primary-700: theme(colors.green-700);
    --color-primary-800: theme(colors.green-800);
    --color-primary-900: theme(colors.green-900);
  }
}
