@import "./brand-colors.css";
@import "./components/page.css";
@import "./components/button.css";
@import "./components/toggle-switch.css";
@import "./components/arrow-icon.css";
@import "./components/box-section.css";
@import "./components/opening-times-list.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/loading-spinner.css";
@import "./components/raeppli-raege.css";
@import "./components/ck-content.css";
@import "./components/link.css";
@import "./components/table.css";
@import "./components/sprite-symbol.css";
@import "./components/hero-image.css";
@import "./components/map-image.css";
@import "./components/input.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Regular.woff2) format("woff2"),
    url(/assets/fonts/Inter-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Medium.woff2) format("woff2"),
    url(/assets/fonts/Inter-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-Bold.woff2) format("woff2"),
    url(/assets/fonts/Inter-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  @apply font-sans;
}

@layer base {
  html {
    @apply text-gray-900;

    /* Cypress has a hard time finding elements when smooth scrolling is enabled. */
    &:not(.e2e):not(.pb-html-preview) {
      @apply scroll-smooth;
    }

    ---base-sticky-top: 48px;

    @screen md {
      ---base-sticky-top: 0px;
    }

    &.has-header-visible {
      ---base-sticky-top: var(--page-header-height);
    }
  }

  hr {
    @apply text-gray-200;
  }
}

@layer utilities {
  .hyphens-auto {
    hyphens: auto;
  }

  .top-sticky {
    top: var(---base-sticky-top);
  }
}

@layer components {
  .container {
    @apply mx-auto px-[15px] md:px-[20px] xl:px-[40px] max-w-hero md:max-w-[768px] lg:max-w-prose xl:max-w-[1120px];
  }

  .comma-list > li {
    @apply not-last:after:content-[',_'] not-last:after:whitespace-pre inline-block;
  }

  .indikatoren-pagination > nav > ul {
    @apply flex space-x-2 overflow-hidden;
  }

  .indikatoren-pagination > nav > .pagination > .active {
    @apply bg-primary-100;
  }
}
