<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="assets/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="assets/css/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">  
  <link href="assets/css/indikatoren-filter.css" media="screen" rel="stylesheet" type="text/css">
  <link href="assets/css/bootstrap-multiselect.css" media="screen" rel="stylesheet" type="text/css">  
  <script src="assets/js/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="assets/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>    
  <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap-multiselect.js" type="text/javascript"></script>
  <script src="assets/js/filter-2.1.0.js" type="text/javascript"></script>
  <script src="assets/js/eModal-1.2.6.min.js" type="text/javascript"></script>
  <script src="data/indikatoren_generated.js" type="text/javascript"></script>
  <script src="assets/js/indikatoren-filter.js" type="text/javascript"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="sidebar col-sm-3">
      <!--
        <div>
          <h4>Charts: <span id="total_movies">0</span></h4>
        </div>
        -->

      <!--
        <div><button class="btn btn-block" onclick="location.reload();">Zurücksetzen</button>
        </div>
        -->

      <div>
        <label class="sr-only" for="searchbox">Search</label>
        <input type="text" class="form-control" id="searchbox" placeholder="Suche &hellip;" fjs-search>
        <span class="glyphicon glyphicon-search search-icon"></span>
      </div>



      <div class="well">
        <fieldset id="thema_criteria">
          <legend>Thema</legend>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="All" id="all_thema">
              <span>Alle</span>
            </label>
          </div>
          <!-- Checkboxes are dynamically added here -->         
        </fieldset>
      </div>

      <div class="well">
        <fieldset id="schlagwort_criteria">
          <legend>Schlagwort</legend>
          <select class="form-control" id="schlagwort_filter">
              <option value="all"></option>    
            </select>
        </fieldset>
      </div>

      <div class="well">
        <fieldset id="raeumlicheGliederung_criteria">
          <legend>Räumliche Gliederung</legend>
          <select class="form-control" id="raeumlicheGliederung_filter">
              <option value="all"></option>    
            </select>
        </fieldset>
      </div>



<!--
      <div class="well">
        <fieldset id="thema_criteria">
          <legend>Thema</legend>
          <select class="form-control" id="thema_filter">
              <option value="all"></option>    
            </select>
        </fieldset>
      </div>


      <div class="well">
        <fieldset id="kennzahlenset_criteria">
          <legend>Kennzahlenset</legend>
          <select class="form-control" id="kennzahlenset_filter">
              <option value="all"></option>    
            </select>
        </fieldset>
      </div>



      <div class="well">
        <fieldset id="schlagwort_criteria">
          <legend>Schlagwort</legend>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="All" id="all_schlagwort">
              <span>Alle</span>
            </label>
          </div>         
        </fieldset>
      </div>


      <div class="well">
        <fieldset id="raeumlicheGliederung_criteria">
          <legend>Räumliche Gliederung</legend>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="All" id="all_raeumlicheGliederung">
              <span>Alle</span>
            </label>
          </div>                       
        </fieldset>
      </div>          
-->

    </div>


    <div class="col-sm-9">
      <div class="row">
        <div class="content col-sm-12">
          <div class="col-sm-5">
              <form class="form-inline" role="form">
                <div class="form-group">
                  <label for="sortBy" class="sr-only">Sortierung:</label>
                  <select class="form-control" id="sortBy">
                  <option value="standard">Nicht sortiert</option>
                  <option value="description_asc">Beschreibung aufsteigend</option>
                  <option value="description_desc">Beschreibung absteigend</option>
                  </select>
                </div>
              </form>
            </div>          
          <div class="col-sm-1 per-page">
            Per Page: <span id="per_page" class="content"></span>
          </div>
          <div id="pagination" class="movies-pagination col-sm-6 pull-right"></div>
        </div>
      </div>
      <div class="movies content row" id="movies" fjs-items="template=#movie-template"></div>
    </div>
  </div>
  </div>
  </div>
    
  <script id="movie-template" type="text/html">
    <div class="col-sm-3 movie">
      <div class="thumbnail">
        <div class="caption">
          <h5 onclick="eModal.iframe({'url': '<%= url.replace('https://', '//') %>', 'title': ' ', 'size': 'md'});"><%= description %></h5>                                          
          <img src="<%= image %>" alt="<%= title %>: <%= description %>" title="<%= title %>: <%= description %>" class="img-responsive pull-left" onclick="eModal.iframe({'url': '<%= url.replace('https://', '//') %>', 'title': ' ', 'size': 'md'}); "/>
        </div>
      </div>
    </div>
  </script>
  
  <script id="checkbox-template" type="text/html">
  	<div class="checkbox">
      <label>
        <input type="checkbox" value="<%= value %>"> <span><%= value %></span>
      </label>
  	</div>
  </script>

  <script id="option-template" type="text/html">
      <option value="<%= key %>"><%= value %></option>
  </script>

</body>

</html>