<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="assets/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="assets/css/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="css/indikatoren-filter.css" media="screen" rel="stylesheet" type="text/css">
  <script src="assets/js/jquery-1.11.3.min.js" type="text/javascript"></script>
  <script src="assets/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>  
  <script src="js/filter.js" type="text/javascript"></script>
  <script src="data/indikatoren.js" type="text/javascript"></script>
  <script src="js/indikatoren-filter.js" type="text/javascript"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="sidebar col-sm-3">
      <!--
        <div>
          <h4>Charts: <span id="total_movies">0</span></h4>
        </div>
        -->

      <!--
        <div><button class="btn btn-block" onclick="location.reload();">Zurücksetzen</button>
        </div>
        -->

      <div>
        <label class="sr-only" for="searchbox">Search</label>
        <input type="text" class="form-control" id="searchbox" placeholder="Suche &hellip;" fjs-search>
        <span class="glyphicon glyphicon-search search-icon"></span>
      </div>

      <div class="well">
        <fieldset id="thema_criteria">
          <legend>Thema</legend>
          <select class="form-control" id="thema_filter">
              <option value="all"></option>
              <option value="Bevölkerung">Bevölkerung</option>
              <option value="Raum und Umwelt">Raum und Umwelt</option>
            </select>
        </fieldset>
      </div>

      <div class="well">
        <fieldset id="kennzahlenset_criteria">
          <legend>Kennzahlenset</legend>
          <select class="form-control" id="kennzahlenset_filter">
              <option value="all"></option>
              <option value="Wohnraum">Wohnraum</option>
              <option value="Arbeitsmarkt">Arbeitsmarkt</option>
              <option value="Integration">Integration</option>
            </select>
        </fieldset>
      </div>

      <div class="well">
        <fieldset id="raeumlicheGliederung_criteria">
          <legend>Räumliche Gliederung</legend>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="All" id="all_raeumlicheGliederung">
              <span>Alle</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Kanton"> <span>Kanton</span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Gemeinde"> <span>Gemeinde</span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Wohnviertel"> <span>Wohnviertel</span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Bezirk"> <span> Bezirk </span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Block"> <span> Block </span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Blockseite"> <span> Blockseite </span>
            </label>
          </div>

        </fieldset>
      </div>

      <div class="well">
        <fieldset id="schlagwort_criteria">
          <legend>Schlagwort</legend>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="All" id="all_schlagwort">
              <span>Alle</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value="Heimat"> <span>Heimat</span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Gebäude"> <span>Gebäude</span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Personal"> <span>Personal</span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Einkommen"> <span> Einkommen </span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="EuroAirport"> <span> EuroAirport </span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Geschlecht"> <span> Geschlecht </span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Haushalt"> <span> Haushalt </span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Ausländer"> <span> Ausländer </span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Alter"> <span/>Alter</span>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="Religion"> <span>Religion</span>
            </label>
          </div>
        </fieldset>
      </div>



    </div>


    <div class="col-sm-9">
      <div class="row">
        <div class="content col-sm-12">
          <div class="col-sm-3 per-page">
            Per Page: <span id="per_page" class="content"></span>
          </div>
          <div id="pagination" class="movies-pagination col-sm-9 pull-right"></div>
        </div>
      </div>

      <div class="movies content row" id="movies" fjs-items="template=#movie-template"></div>
    </div>
  </div>
  </div>
  </div>

  <script id="movie-template" type="text/html">
    <div class="col-sm-4 movie">
      <div class="thumbnail">
        <div class="caption">
          <h5 data-toggle="modal" data-target="#myModal<%= id %>"><%= description %></h5>                                          
          <img data-toggle="modal" data-target="#myModal<%= id %>" src="<%= image %>" alt="<%= title %>: <%= description %> " title="<%= title %>: <%= description %> " class="img-responsive pull-left"/>
          <!-- Modal -->
          <div class="modal fade" id="myModal<%= id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>                  
                </div>
                <div class="modal-body">
                    <iframe src="<%= url %>" width="500" height="700" frameborder="0" allowtransparency="true"></iframe>  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </script>


</body>

</html>