@charset "UTF-8";

BODY {
  font-family: Arial;
}


h1 {
  font-size: 8pt;
  text-transform: uppercase;
  letter-spacing: none;
  font-weight: bold;
  color: #496c78;
  line-height: 100%;
}

p { 
  font-size: 10pt;
  color: #000000;
  line-height: 150%;
}