.carousel__container {
  @apply grid px-[8px] xl:px-50 justify-center gap py-30 w-full;

  grid-template:
    'aside' auto
    'title' auto
    / minmax(auto, 796px);

  @screen md {
    grid-template:
      '. aside .' auto
      '. title .' auto
      / 1fr minmax(auto, 796px) 1fr;
  }

  @screen xl {
    grid-template:
      'aside title title' auto
      / 1fr minmax(auto, 796px) 1fr;
  }
}

.carousel__container__title {
  grid-area: title;
  @apply flex flex-col gap-10 px-[8px] xl:px-0;
  @screen md {
    @apply justify-between flex-row items-center;
  }
}

.carousel__container__sidebar {
  grid-area: aside;
  @apply px-[8px] xl:px-0;
}

.carousel__container__nav__outer {
  @apply absolute top-0 left-0 right-0 h-[450px] lg:h-[650px] flex items-center justify-center;
}

.carousel__container__nav {
  @apply flex max-w-[359px] md:max-w-[924px] lg:max-w-[1340px] w-full h-full justify-between mx-auto;
}

.carousel__container__nav__bar {
  @apply px-20 flex items-center cursor-pointer transition-all ease-in-out duration-250;
}

.carousel__container__nav__bar:first-child {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4) 0,
      rgba(255, 255, 255, 0) 100%
    )
    no-repeat;
  /* Used background position here because animating gradients isn't possible. */
  background-position-x: -80px;
}

.carousel__container__nav__bar:first-child:hover {
  /* Used background position here because animating gradients isn't possible. */
  background-position-x: 0;
}

.carousel__container__nav__bar:last-child {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.4) 0,
      rgba(255, 255, 255, 0) 100%
    )
    no-repeat;
  /* Used background position here because animating gradients isn't possible. */
  background-position-x: 80px;
}

.carousel__container__nav__bar:last-child:hover {
  /* Used background position here because animating gradients isn't possible. */
  background-position-x: 0;
}

.carousel {
  @apply relative text-center touch-pan-y overscroll-none;
}

.carousel.is-dragging {
  @apply touch-none;
}

.carousel__track {
  @apply flex relative p-0;
}

.carousel__viewport {
  @apply overflow-hidden;
}

.carousel__sr-only {
  @apply sr-only;
}

.carousel__slide {
  @apply snap-always flex-shrink-0 max-w-[100%] m-0 relative flex justify-center items-center;

  /* Fix iOS scrolling #22 */
  transform: translateZ(0);
}

/* Convenience class */
.carousel__image-slide img {
  @apply w-auto max-w-[100%] h-auto max-h-[100%];
}
