body {
    background-color: #fcfcfc;
}

div, span, legend, label, h5, .form-control, .btn{
    font-weight: normal;
}


.well, 
.btn,
.pagination{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

.well, .btn {
    padding: 3px;
}

legend{
    margin-bottom: 0px;
    border-bottom: none;
    font-size: 12px;
}


.search-icon{
  position: relative;
  margin-top: -25px;
  display: inline-block;
  width: 28px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  background-color: transparent;
  font-size: 20px;
  color: #222;
  float: right;
}

.thumbnail {    
    border-color: #cccccc;
    border-radius: 0;
    margin-bottom: 8px;    
}

.thumbnail .caption{
    padding-top: 0px;
    padding-bottom: 0px;
}

.thumbnail img{
    max-height: 155px;
}

.indikatoren-pagination{
    text-align: right;  
}

ul.pagination{
    margin: 0px;
}

.pagination>li>a, 
.pagination>li>a:hover{
    color: black;    
}

.pagination>.active>a, 
.pagination>.active>a:hover{
    background-color: #225B33;
    border-color: #225B33;    
}

.pagination .glyphicon {
    color: grey;    
}

.per-page {
    display: none;
}

.modal-header, 
.modal-footer{
    border-bottom: none;
    border-top: none;
}

.caption>h5
{   
    font-weight: bold;
    color: #336666;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 2px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;     
} 

/* https://scotch.io/bar-talk/bootstrap-3-tips-and-tricks-you-still-might-not-know */

.small-gutter > [class*='col-'] {

    padding-right: 4px;
    padding-left: 4px;
}

.multiselect-clear-filter {
    border: none;
    margin-left: 1px !important;
}

.checkbox, 
.radio{
    margin-bottom: 5px;
    margin-top: 5px;
}

input[type="radio"] {
    bottom: 3px; /* vertically align radio with corresponding label */
}

.multiselect-container>li>a>label, .checkbox>label {
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top: 0px;
}

.multiselect {
    margin-top: 0px;   
}

.multiselect-search {
    height: 33px;
}

/* Remove 'x' in IE in input type=text or search */
input::-ms-clear {
  width : 0;
  height: 0;
}

.modal.carousel {
  position: fixed; /* Needed because the carousel overrides the position property */
}

/* Carousel next / prev changes, from http://stackoverflow.com/questions/29464207/bootstrap-3-carousel-controls-on-outside */
.carousel-control {
    z-index: 10;
    top: 2%;
    width: 30px; /* no more gray thing */
    margin-top: 40px; /* make space for the close icon */
}

.glyphicon-chevron-right, .glyphicon-chevron-left{
    font-size: 0.9em !important; /* adjust size to fit close icon */    
}

.carousel-control.left,
.carousel-control.right {        
    background: none;     
    color: #666;
}


/* position icons below the close icon */
.carousel-control.left { left: 7px; }
.carousel-control.right { right: 7px; }


.highcharts-wrapper {
    height: 415px;
}

.carousel-indicators {
    top: 15px;
    height: 15px;
}


.carousel-indicators li {
    border-color: black;
    background-color:white;
}

.carousel-indicators-numbers li {
    text-indent: 0;
    margin: 0 2px;    
    width: 60px;
    height: 30px;
    border: none;
    line-height: 30px;
    color: black;
}

.carousel-indicators-numbers li.active, .carousel-indicators-numbers li:hover {
    margin: 0 2px;
    width: 60px;
    height: 30px;
    background-color: white;
    color: black;
}


.carousel-inner {
    margin-top: 30px;
}

h1{
    font-size: 8pt;
    text-transform: uppercase;
    letter-spacing: none;
    font-weight: bold;
    color: #204453;
    line-height: 100%;
    margin-top: 14px;
    margin-bottom: 8px;
    margin-left: 50px;
    margin-right: 50px;
}


.lesehilfe {
    margin-left: 50px;
    margin-right: 50px;
}


.highcharts-container {
    margin: 0 40px;
}

.lesehilfe hr{
    border: none;
    height: 1px;
    margin-top: 14px;
    margin-bottom: 8px;
    background-color: darkgrey; /* Modern Browsers */
}

.highcharts-contextmenu hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.lesehilfe a {
    font-weight: bold;
    color: #246036;
}

.lesehilfe a:hover {
    color: #333;
}



/* .label and .highcharts-tooltip span are necessary for certain highcharts cases where the tooltip does not nicely overshadow axis labels, e.g. I.50.4.0004, see http://stackoverflow.com/questions/15130311/highcharts-labels-visible-over-tooltip */
.label {
    z-index: 1 !important;
}

.highcharts-tooltip span {
    background-color: white;
    /*border:1 px solid green;*/
    opacity: 1;
    z-index: 9999 !important;
}

.link-icon {
    height: 12px;
    width: 15px;
}
