body {
    background-color: #fcfcfc;
}

div, span, legend, label, h5, .form-control, .btn{
    font-weight: normal;
}


.well, 
.btn,
.pagination{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

.well, .btn {
    padding: 3px;
}

legend{
    margin-bottom: 0px;
    border-bottom: none;
    font-size: 12px;
}


.search-icon{
  position: relative;
  margin-top: -25px;
  display: inline-block;
  width: 28px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  background-color: transparent;
  font-size: 20px;
  color: #222;
  float: right;
}

.thumbnail {    
    min-height: 164px;
    border-color: #cccccc;
    border-radius: 0;
    margin-bottom: 8px;
}

.thumbnail .caption{
    padding-top: 0px;
}

.movies-pagination{
    text-align: right;  
}

ul.pagination{
    margin: 0px;
}

.pagination>li>a, 
.pagination>li>a:hover{
    color: black;    
}

.pagination>.active>a, 
.pagination>.active>a:hover{
    background-color: #222;
    border-color: #222;    
}

.per-page {
    display: none;
}

.modal-header, 
.modal-footer{
    border-bottom: none;
    border-top: none;
}

.thumbnail>.caption>img,
.thumbnail>.caption>h5{   
    font-weight: bold;
    color: #336666;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 2px;
} 

/* https://scotch.io/bar-talk/bootstrap-3-tips-and-tricks-you-still-might-not-know */

.small-gutter > [class*='col-'] {

    padding-right: 4px;
    padding-left: 4px;
}

.multiselect-clear-filter {
    border: none;
    margin-left: 1px !important;
}

.checkbox, 
.radio{
    margin-bottom: 5px;
    margin-top: 5px;
}


.multiselect-container>li>a>label, .checkbox>label {
    padding-bottom: 1px;
    padding-top: 1px;
    margin-top: 0px;
}